---
# Clang-Format configuration for STM32 embedded C project
BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Always
ColumnLimit: 120
BreakBeforeBraces: Attach
SpaceBeforeParens: ControlStatements
PointerAlignment: Right
IndentCaseLabels: true
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: false
AlignConsecutiveDeclarations: true
